mixin work()
  section.work&attributes(attributes)
    +sect-head('What we do','some of our work','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ')
    .work__list
      .work__list-col
        img(src="img/work/work_1.jpg" alt="Картиночка").work__img
        img(src="img/work/work_2.jpg" alt="Картиночка").work__img
        img(src="img/work/work_5.jpg" alt="Картиночка").work__img
        img(src="img/work/work_6.jpg" alt="Картиночка").work__img
      .work__list-col
        img(src="img/work/work_3.jpg" alt="Картиночка").work__img
        img(src="img/work/work_4.jpg" alt="Картиночка").work__img
        img(src="img/work/work_7.jpg" alt="Картиночка").work__img
