mixin facts()
  section.facts&attributes(attributes)
    .facts__inner
      .facts__fact
        span.facts__num 42
        span.facts__title Web Design Projects

      .facts__fact
        span.facts__num 123
        span.facts__title Web Design Projects

      .facts__fact
        span.facts__num 15
        span.facts__title Web Design Projects

      .facts__fact
        span.facts__num 99
        span.facts__title Web Design Projects

      .facts__fact
        span.facts__num 24
        span.facts__title Web Design Projects
