mixin instagram()
  div.instagram&attributes(attributes)
    h3.instagram__title Instagram
    .instagram__pics
      img(src="img/inst/inst_1.jpg", alt="Имейджж").instagram__img
      img(src="img/inst/inst_2.jpg", alt="Имейджж").instagram__img
      img(src="img/inst/inst_3.jpg", alt="Имейджж").instagram__img
      img(src="img/inst/inst_4.jpg", alt="Имейджж").instagram__img
      img(src="img/inst/inst_5.jpg", alt="Имейджж").instagram__img
      img(src="img/inst/inst_6.jpg", alt="Имейджж").instagram__img
      img(src="img/inst/inst_7.jpg", alt="Имейджж").instagram__img
      img(src="img/inst/inst_8.jpg", alt="Имейджж").instagram__img
      img(src="img/inst/inst_9.jpg", alt="Имейджж").instagram__img
    a(href="#more").instagram__link View more photos
