mixin design()
  section.design&attributes(attributes)
    +sect-head('For all devices','Unique design')
    img(src="img/tablet.png" alt="Картиночка").design__tablet
    img(src="img/phone.png" alt="Картинчка").design__phone